<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
</head>

<body>
    <h1>Reset Password</h1>
    <p>Enter your new password below.</p>
    <form action="/reset-password" method="POST">
        <label for="token">Token:</label>
        <input type="text" id="token" name="token" required><br><br>

        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="newPassword" required><br><br>

        <input type="submit" value="Reset Password">
    </form>
</body>

</html>